{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
	<script type="text/javascript">
		App.Login.init();
	</script>
	<form ng-controller="LoginController" class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">Login</h2>
		<input type="text" ng-model="username" class="form-control" placeholder="Username" required autofocus>
		<input type="password" ng-model="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
{% endblock %}